<!-- rubric63 -->
<div class="page-large container">
  <article>
    <p class="font-weight-bold page-title">About us</p>
    <p class="page-desc">We have been on the market for 25 years.</p>
    <div id="about-row" class="d-flex flex-row">
      <div class="p-2 item-width50">Shopping for specialty groceries. Here you’ll find a selection of small to medium brands taking the opportunity to
      present their products on a national stage. We put brands on the map and give customers and independent grocers
      opportunities to explore, sample or purchase products that have limited distribution. Our selection is innovative,
      growing, affordable, and ready for you to browse.</div>
      <div class="p-2 item-width50 d-flex flex-column align-items-center">
        <figure>
        <img src="assets/img/supermarkt.jpg" class="img-fluid" alt="Image of our supermarkt in London">
        <figcaption>
            <p id="about-caption" class="page-desc ml-auto mr-auto text-center">Image of our supermarkt in London</p>
        </figcaption>
        </figure>
      </div>
    </div>
  </article>
</div>
