<div class="page-large container">
    <div *ngIf="getResponseType() === 1">
        <article>
        <div id="product-row" class="d-flex align-content-center flex-row" itemscope itemtype="http://schema.org/Product">
            <div id="product-div-img" class="p-2 item-width50">
                <div id="product-div-div-img" class="float-right" itemprop="image">
                    <!-- rubric36 -->
                    <img id="product-img" src="{{selectedProductResponse.product.imagelink}}" class="img-fluid" alt="Product image">
                </div>
            </div>
            <div class="p-2 item-width50">
                <div class="page-medium-bottommargin">&nbsp;</div>
                <!-- rubric35 -->
                <p class="font-weight-bold page-title" itemprop="name">{{selectedProductResponse.product.name}}</p>
                <div itemscope itemtype="http://schema.org/Rating">
                    <!-- rubric37 -->
                    <p class="page-desc">Rating: {{selectedProductResponse.product.rating}} / 5</p>
                    <meta itemprop="ratingValue" content="{{selectedProductResponse.product.rating}}" />
                </div>
                <!-- rubric40 -->
                <p class="page-desc" itemprop="description">{{selectedProductResponse.product.description}}</p>
                <div class="page-medium-bottommargin">&nbsp;</div>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <!-- rubric39 -->
                    <p class="font-weight-bold page-title" itemprop="price">Price: {{selectedProductResponse.product.price | currency:'USD':'symbol':'1.2-4'}}</p>
                    <meta itemprop="price" content="{{selectedProductResponse.product.price}}" />
                    <meta itemprop="priceCurrency" content="USD" />
                </div>
                <div href="https://schema.org/ItemAvailability">
                    <!-- rubric38 -->
                    <p class="page-desc">Stock: {{selectedProductResponse.product.stock | number:'1.0-2'}}</p>
                    <div *ngIf="selectedProductResponse.product.stock > 0">
                        <meta itemprop="availability" content="InStock" />
                    </div>
                </div>
                <div class="page-medium-bottommargin">&nbsp;</div>
                <div id="shopping-product-add">
                    <div class="w-100 mb-0">
                        <div *ngIf="selectedProductResponse.product.addToCartMessage!=='success' && 
                                    selectedProductResponse.product.addToCartMessage!=='error' && 
                                    selectedProductResponse.product.quantityInCart>0">
                            <p class="page-desc mb-1">In your cart: {{selectedProductResponse.product.quantityInCart | number:'1.0-2'}}</p>
                        </div>
                        <div *ngIf="selectedProductResponse.product.addToCartMessage==='success'">
                            <p class="page-desc text-success mb-1">Product added to cart.</p>
                        </div>
                        <div *ngIf="selectedProductResponse.product.addToCartMessage==='error'">
                            <p class="page-desc text-danger mb-1">Product not added to cart!</p>
                        </div>
                        <div *ngIf="selectedProductResponse.product.addToCartMessage!=='success' && 
                                    selectedProductResponse.product.addToCartMessage!=='error' && 
                                    selectedProductResponse.product.quantityInCart==0">
                            <p class="page-desc mb-1">&nbsp;</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <!-- rubric42 -->
                        <span id="product-qty">Qty</span>
                        <div id="product-counter-group">
                            <app-counterinput [(counter)]="productQuantity" (counterChange)="onCounterChange($event)"></app-counterinput>
                        </div>
                        <!-- rubric41, rubric44 addToCart() -->
                        <button id="product-addtocart" type="button" class="btn btn-warning" (click)="addToCart()" 
                                [disabled]="isAddToCartDisabled()">Add to cart</button>
                    </div> 
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start justify-content-sm-end">
            <div class="float-right">
                <!-- rubric43, rubric45 goBack() -->
                <button class="btn btn-primary" (click)="goBack()">Back</button>
            </div>
        </div>
    </article>
    </div>
    <div *ngIf="getResponseType() === 2">
        <p class="font-weight-bold page-title">We are sorry,</p>
        <p class="page-desc">Product with the selected name <b>'{{selectedProductName.toLocaleUpperCase()}}'</b> does not exist in our database.</p>
    </div>
    <div *ngIf="getResponseType() === 3">
        <p class="font-weight-bold page-title">Please wait,</p>
        <p class="page-desc">We are loading product list from the database.</p>
    </div>
    <div *ngIf="getResponseType() === 4">
        <p class="font-weight-bold page-title">Problem occured,</p>
        <p class="page-desc">Product name cannot be empty.</p>
    </div>
    <div *ngIf="getResponseType() === 5">
        <p class="font-weight-bold page-title">Problem occured,</p>
        <p class="page-desc">There was an error during reading the product in the database.</p>
        <p class="page-desc">Please, try again.</p>
    </div>
</div>
