<div class="page-large-no-margin container">
  <div class="row ml-2 mr-2">
    <h1 class="pl-2">Welcome to Grocery Cloud</h1>
  </div>
  <div class="row ml-2 mr-2 mb-2">
    <!-- rubric04 -->
    <p class="page-desc pl-2">We have been on the market for 25 years. 
      In our offer we have <b>high quality products at attractive prices</b>.</p>
    <span class="d-flex flex-wrap flex-sm-nowrap align-items-center ml-auto pr-2">
        <!-- rubric06 -->
        <span class="mr-2">Toggle slide show</span>
        <!-- rubric10   toggleSlideShow($event) -->
        <app-togglebutton class="mr-2" [checked]="!selectedNoSlideShow" (checkboxChange)="toggleSlideShow($event)"></app-togglebutton>
        <div class="float-right">
          <nav>
            <!-- rubric05, rubric12 -->
            <button [routerLink]="['/shopping']" class="btn btn-primary mr-2" type="button">Shop All</button>
          </nav>
        </div>
    </span>
  </div>
  <!-- rubric01, rubric02, rubric03 [begin] -->
  <section>
    <h2 class="d-none">Featured products</h2>
    <div class="carousel-div">
      <!-- rubric07, rubric08 is implemented inside carousel bootstrap component -->
      <carousel [activeSlide]="activeSlide" [interval]="carouselInterval" [noWrap]="selectedNoSlideShow" [noPause]="true" class="carousel">
        <div *ngIf="slideList.length > 0">
          <slide *ngFor="let slide of slideList">
            <div class="slide-div">
              <div *ngFor="let product of slide.products">
                <nav>
                  <!-- rubric09, rubric11 -->
                  <div class="home-img-div">
                    <a [routerLink]="['/product']" [queryParams]="{ name: product.name }"> 
                      <img src="{{product.url}}" alt="first slide" class="img-fluid home-img animated fadeIn">
                    </a>
                  </div>
                </nav>
              </div>
            </div>
          </slide>
        </div>
      </carousel>
    </div>
  </section>
  <!-- rubric01, rubric02, rubric03 [end] -->
</div>