<footer class="footer">
  <div class="pull-left">
    <span class="text-muted"><i class="fa fa-copyright" aria-hidden="true">&nbsp;Grocery Cloud</i></span>
  </div>
  <div class="pull-left footer-left-margin" itemscope itemtype="http://schema.org/LocalBusiness">
    <div itemprop="email">
      <a href="mailto: office@grocery.com">office@grocery.com</a>
    </div>
  </div>
  <nav>
    <div class="pull-right text-secondary">
      <a routerLink="/contact">Contact</a>
    </div>
    <div class="pull-right">
      <a routerLink="/about">About us</a>
    </div>
    <div class="pull-right">
      <a routerLink="/home">Home</a>
    </div>
  </nav>
</footer> 