<!-- rubric47 -->
<div>
    <div *ngIf="!cartIsEmpty()">
        <div class="table-responsive-md">
            <table id="cartgrid" class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th class="th-mw-10 text-center"></th>
                  <th class="th-mw-40">Name</th>
                  <th class="th-mw-10 text-center">Unit price</th>
                  <th class="th-mw-20 text-center">Quantity</th>
                  <th class="th-mw-10 text-center">Cost</th>
                  <th class="th-mw-10 text-center">Remove</th>
                </tr>
              </thead>
              <tbody>
                  <!-- rubric53 onRowChange -->
                  <tr class="cart-row" app-cartgrid-row *ngFor="let product of _cartService.productInCartList" 
                    [product]="product" (rowChange)="onRowChange($event)"></tr>
              </tbody>
              <tfoot>
                <tr>
                  <td id="cartgrid-subtotal" colspan="6">
                    <span><b>Subtotal: {{_cartService.cartNetSum | currency:'USD':'symbol':'1.2-4'}}</b></span>
                  </td>
                </tr>
              </tfoot>
            </table>
        </div>
    </div>
    <div *ngIf="cartIsEmpty()">

    </div>
</div>
